# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/

/PebbleCyclingComputer-iOS/Products/Debug-iphoneos/Pebble Cycling.app.dSYM/
/PebbleCyclingComputer-iOS/Products/Debug-iphoneos/Pebble Cycling.app/
/PebbleCyclingComputer-iOS/Products/Debug-iphonesimulator/Pebble Cycling.app.dSYM/
/PebbleCyclingComputer-iOS/Products/Debug-iphonesimulator/Pebble Cycling.app/
Debug-iphoneios
Debug-iphoneos
/PebbleCyclingComputer-iOS/Products/Debug-iphoneos/PebbleCyclingComputer-iOS.app.dSYM/Contents/Resources/DWARF/PebbleCyclingComputer-iOS
/PebbleCyclingComputer-iOS/Products/Debug-iphoneos/PebbleCyclingComputer-iOS.app/_CodeSignature/CodeResources
/PebbleCyclingComputer-iOS/Products/Debug-iphoneos/PebbleCyclingComputer-iOS.app/Info.plist
/PebbleCyclingComputer-iOS/Products/Debug-iphoneos/PebbleCyclingComputer-iOS.app/PebbleCyclingComputer-iOS